
@media screen and (min-width: 768px) {
  .logo {
    justify-content: flex-start;
  }

  .cards {
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    padding: 0;
    width: 85%;
    margin: 0 auto;
  }

  .card {
    width: 30rem;
  }

  .card:first-of-type {
    margin-bottom: 0;
  }

  .card-image {
    width: 30rem;
    height: 26rem;
  }

  .candidate-name {
    font-size: 2rem;
  }

  .candidate-party {
    font-size: 1.1rem;
  }

  .card-btn {
    font-size: 2rem;
  }
}


@media screen and (min-width: 1024px) {
  .cards {
    width: 70%;
  }

  .card:hover {
    transform: translateY(-2rem);
  }

  .card:hover .btn-cond1,
  .card:hover .btn-cond2 {
    font-size: 2.5rem;
  }

  .btn-cond1:hover {
    background: var(--btn-red-hover);
  }

  .btn-cond2:hover {
    background: var(--btn-light-blue-hover);
  }
}


@media screen and (min-width: 1400px) {
  .cards {
    width: 60%;
  }
}
